# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
conda_env/

# IDE
.vscode/
.idea/

# Project Specific - Large Data & Models
models/
trajdata_cache/
nusc_cache_trajdata/
plots/
logs/
results/

# Large Files
*.pt
*.pth
*.npy
*.json
!camp_core/models/production/atom_scales.json # Keep if this is essential config, otherwise ignore
*.pdf


# Slurm
*.out
*.err
*.log

# Mac
.DS_Store
